// Primary
$colorPrimary: #479761;
$colorSecondary: #A16E83;
$colorHighlight: #CEBC81;
$colorLight: #B19F9E;
$colorDark: #19181A;

// Alt
$colorPrimaryAlt: #4D6D9A;
$colorSecondaryAlt: #99CED3;
$colorHighlightAlt: #EDB5BF;
$colorLightAlt: #99CED3;
$colorDarkAlt: #5F6366;

// Focus
$colorPrimaryFocus: #0074E1;
$colorSecondaryFocus: #1B9CE5;
$colorHighlightFocus: #F79E02;
$colorLightFocus: #7CDAEE;
$colorDarkFocus: #10E7DC;

// Greys
$colorAshGray: #B2BEB5;
$colorBlueGray: #7393B3;
$charcoalGray: #36454F;
$colorDarkGray: #A9A9A9;
$colorGlaucousGray: #6082B6;
$colorGray: #808080;
$colorGunmetalGray: #818589;
$colorLightGray: #D3D3D3;
$colorPewterGray: #899499;
$colorPlatinumGray: #E5E4E2;
$colorSageGray: #8A9A5B;
$colorSilver: #C0C0C0;
$colorSlateGray: #708090;
$colorSmokeGray: #848884;
$colorSteelGray: #71797E;