// Shared color definitions
$colorPrimary: #8a9a5b;
$colorAlt: #1b9ce5;
$colorHighlight: #f79e02;
$colorLight: #d3d3d3;
$colorHighlightAlt: #6082b6;
$colorWhite: #e5e4e2;
$colorCharcoalGray: #36454f;
$colorBlack: #131313;
$colorAshGray: #b2beb5;
$colorDarkAlt: #5f6366;
