// Primary
$colorPrimary: #479761;
$colorSecondary: #a16e83;
$colorHighlight: #cebc81;
$colorLight: #b19f9e;
$colorDark: #19181a;

// Alt
$colorPrimaryAlt: #4d6d9a;
$colorSecondaryAlt: #99ced3;
$colorHighlightAlt: #edb5bf;
$colorLightAlt: #99ced3;
$colorDarkAlt: #5f6366;

// Focus
$colorPrimaryFocus: #0074e1;
$colorSecondaryFocus: #1b9ce5;
$colorHighlightFocus: #f79e02;
$colorLightFocus: #7cdaee;
$colorDarkFocus: #10e7dc;

// Greys
$colorAshGray: #b2beb5;
$colorBlueGray: #7393b3;
$charcoalGray: #36454f;
$colorDarkGray: #a9a9a9;
$colorGlaucousGray: #6082b6;
$colorGray: #808080;
$colorGunmetalGray: #818589;
$colorLightGray: #d3d3d3;
$colorPewterGray: #899499;
$colorPlatinumGray: #e5e4e2;
$colorSageGray: #8a9a5b;
$colorSilver: #c0c0c0;
$colorSlateGray: #708090;
$colorSmokeGray: #848884;
$colorSteelGray: #71797e;
