@mixin fontCardo {
	font-family: 'Cardo', serif;
}

@mixin fontDmSans {
	font-family: 'DM Sans', sans-serif;
}

@mixin fontKronaOne {
	font-family: 'Krona One', sans-serif;
}

@mixin fontRaleway {
	font-family: 'Raleway', sans-serif;
}

@mixin fontFedoro {
	font-family: 'Federo', sans-serif;
}
